
* {margin: 0; padding: 0;}

.status{
    width: 10px;
    height: 10px;
    background: red;
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    border-radius: 50%;
    &.checkin{
        background: greenyellow;
    }
}



button{
    margin-bottom: 7px;
}

ul {
 list-style-type: none;
 width: 500px;
}

h3 {
 font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
 float: left;
 margin: 0 1px 0 0;
}

li p {
 font: 200 12px/1.5 Georgia, Times New Roman, serif;
 margin-bottom: 7px;
}

li {
 padding: 50px;
 overflow: none;
  display:block;
    width:100%;
    margin-left: 0px;
    margin-top: 7px;
    height:190px;
    background-color:#03B3CB;
    border-left:5px solid #222;
    border-right:5px solid #222;
    padding-left:5px;
    padding-top:1px;
    text-decoration:none;
    color:rgb(46, 5, 5);
    margin-bottom: 7px;
    transition: all .2s ease-in-out;
}

li:hover {
 background: #eee;
 cursor: pointer;

     -moz-transform:rotate(-5deg);
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg);
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(-5deg);
    box-shadow:10px 10px 20px #000000;
}